---
import Translator from "../../lib/translator";
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { Slug, Languages } from "../../lib/routes";
import { slugMap, reverseSlugMap } from "../../lib/routes";

const { lang, slug } = Astro.params as { lang: Languages; slug: Slug };
const title = "Hadassa Medeiros";
const translator = new Translator(lang);
const otherLang = lang === "en" ? "es" : "en";
const page = reverseSlugMap[slug];
const otherSlug = "";
// const otherSlug = slugMap[otherLang][page];

export function getStaticPaths() {
  return [
    { params: { lang: "en", slug: "home" } },
    { params: { lang: "es", slug: "home" } },
  ];
}
---

<BaseLayout
  title={title}
  lang={lang}
  otherLang={otherLang}
  slug={slug}
  otherSlug={otherSlug}
  ;
>
  <body>
    <div class="grid-container">
      <h1 class="title">Hadassa Medeiros</h1>
      <div class="icons">
        <a class="icon" href="https://linkedin.com/in/hadassamedeiros" target="_blank">
        <img src="/src/assets/icons/lnkdn-icon.svg"/></a>
        <a class="icon" href="https://github.com/hadassa-medeiros" target="_blank">
        <img src="/src/assets/icons/github-icon.svg"/></a>
      </div>
      <div class="info">
        <p>{translator.t("ABOUT_P1")}</p></div>
      <div class="description">
        <p>{translator.t("ABOUT_P2")}</p>
        <p>{translator.t("ABOUT_P3")}</p>
      </div>
      <div class="bg-layer"></div>
    </div>
  </body>

  <style lang="scss">
    .bg-layer {
      position: fixed;
      inset: 0;
      z-index: -1;
      opacity: 0.4;
      background: url("/src/assets/images/background-collage.png") center/cover no-repeat
    }
  .grid-container {
    height: 100dvh;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    // grid-template-areas: 
    // "title . ."
    // "icons . ."
    // ". info info"
    // "..."
    // ". description .";
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: 50% auto auto auto;
    row-gap: 1em
  }
  .icons {
    grid-area: icons;
  }
  .description {
    grid-area: description;
    max-width: 500px
  }
  .info {
    grid-area: info;
  }
  .title {
    grid-area: title;

    @media (max-width: 768px) {
      font-size: 2em
    }
    
    // text-align: end;
    // align-self: end;
  }
  </style>
</BaseLayout>
